
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: 	#F08080;
    font-family:'Josefin Sans', sans-serif;
    color: #2D2D2D;
    font-size:14px;
}
.card:hover{
    border: 1.5px solid #2D2D2D;
}
